@font-face
	font-family: RoundsBlack
	src: url(../fonts/RoundsBlack.ttf)

body
	background-color: #F0E8A0
	font-family: RoundsBlack


section.headLogo
	text-align: center
	color: #CD4350
	h1
		font-size: 45px
		margin: 0
		padding: 0
	p
		margin: 0
		font-size: 15px
		line-height: 0.4

section.clockHead
	text-align: center
	margin-top: 10px
	.clock
		border-radius: 5px
		margin: 0
		padding: 1px
		display: inline-block
		font-size: 21px
		line-height: 0.6
		color: #7D3E9A
	.clock li
		list-style-type: none
		display: inline-block
	.clock li:after
		content: ' :'
	.clock li:last-child:after
		content: ''

section.sound div
	text-align: center
	margin-top: 10px
	box-sizing: border-box
	padding: 0
	z-index: 1
	opacity: 0.7
	transition: 0.7s
	&:hover
		opacity: 1
section.sound img
	cursor: pointer
	z-index: 3
	padding: 5px
	border-radius: 10px
	box-sizing: border-box



.bg-img
	background: url(../img/bg-img.jpg) no-repeat
	background-position: bottom
	background-size: contain
	background-attachment: fixed
	width: 100%
	position: fixed
	bottom: 0
	height: 100%
	opacity: 0.15