@font-face
	font-family: RoundsBlack
	src: url(../fonts/RoundsBlack.ttf)

body
	background-color: #F0E8A0
	font-family: RoundsBlack


section.headLogo
	text-align: center
	color: #CD4350
	h1
		font-size: 45px
		margin: 0
		padding: 0
	p
		margin: 0
		font-size: 15px
		line-height: 0.4

section.clockHead
	text-align: center
	margin-top: 10px
	.clock
		border-radius: 5px
		margin: 0
		padding: 1px
		display: inline-block
		font-size: 21px
		line-height: 0.6
		color: #7D3E9A
	.clock li
		list-style-type: none
		display: inline-block
	.clock li:after
		content: ' :'
	.clock li:last-child:after
		content: ''

.line
	width: 100%
	background-color: #F9F5AD
	position: absolute
	left: 0
	opacity: 0.7
	h2
		margin: 0
		text-align: center
		color: #8CCE30


section.sound > div
	text-align: center
	margin-top: 35px
	padding: 0
	z-index: 1
	opacity: 0.7
	transition: 0.7s
	border: 1px solid transparent
	box-sizing: border-box
	&:hover
		opacity: 1
section.sound img
	cursor: pointer
	z-index: 3
	padding: 5px
	border-radius: 10px
	box-sizing: border-box

section.aClock
	text-align: center
section .alarmClock
	background-color: #5C582C
	margin: 0
	padding: 0
	display: inline-block
	margin-top: 35px
	& li
		min-width: 70px
		list-style-type: none
		display: inline-block
		border: 5px solid #5C582C
		font-size: 40px
		background-color: #C7C37B
		padding: 20px
		position: relative
		& span
			position: absolute	
			bottom: 0
			line-height: 0.6
			opacity: 0.3
			transition: 0.5s
			cursor: pointer
			&:hover
				opacity: 1
			&:nth-child(odd)
				left: 2px
			&:nth-child(even)
				right: 2px
.startAlarm
	cursor: pointer
	&:active
		color: #CA582C

.bg-img
	background: url(../img/bg-img.jpg) no-repeat
	background-position: bottom
	background-size: contain
	background-attachment: fixed
	width: 100%
	position: fixed
	bottom: 0
	height: 100%
	opacity: 0.15
	z-index: -1